<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian">
            <!--Category List-->
            <div *ngFor="let p of categories" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    [routerLink]="['/pageshop']"
                    id="{{ p.id }}"
                    (click)="onClickCategory2($event)"
                    >{{ p.name }}</a
                  >
                </h4>
              </div>
            </div>
            <!--/Category List-->
          </div>
        </div>
      </div>

      <div class="col-sm-8 padding-right">
        <div class="features_items">
          <h2 class="title text-center">Features Items</h2>
          <!--Product List-->
          <div class="col-sm-4" *ngFor="let product of productsList">
            <app-product-item [productItem]="product"></app-product-item>
          </div>
          <!--/Product List-->
        </div>
      </div>

      <!--Cart-->
      <div class="col-sm-2">
        <app-cart></app-cart>
      </div>
      <!--/Cart-->
    </div>
  </div>
</section>
